@import url('https://fonts.googleapis.com/css2?family=Poppins:ital&display=swap');
h1 {
  text-align: center;
  color: #0095fa ;
  font-weight: 500;
  padding:.5rem;
  background: #f0faff;
  width: 40%;
  margin:2rem auto;
  border-radius:10px;
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__range {
  width: 50%;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
input {
  margin: 2.5rem;
}
.main__boxshadow {
  height: 20rem;
  width: 20rem;
  padding: 2rem;
  background-color: #f0faff;
  margin: 4rem 2rem;
  color: black;
}